body {
    background-color: rgb(251, 244, 232);
}
.title-container {
    display: flex;
    justify-content: center;
}
.title-container a {
    display: inline;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 80px;
    color: rgb(119, 110, 101);
}
.srcc-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 85vh;
}

.srcc-container a img {
    width: 35px;
    height: 35px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, minmax(20px, 1fr));
  gap: 20px;
  padding: 20px;
}

.grid-item {
  background: red;
  padding: 25px;
  border-radius: 8px;
}
