body {
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    
}
.rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#back {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(0, 122, 255);
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;

}
