body {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
}
.rules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#back {
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(0, 122, 255);
    border-radius: 2px;
    border-color: transparent;
    padding: 5px 15px;
}
@media screen and (max-width: 768px) {
    .rules {
	/* font-size: 6vw; */
	font-size: 1.5rem;
	width: 100%;
	height: 90%;	
    }
    #back {
	font-size: 1rem;
    }
}
