body {
    overflow: hidden;
    background-color: rgb(251, 244, 232);
}

.title-container {
    position: relative;
    display: flex;
    justify-content: center;
}
.title-container a {
    display: inline;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    font-size: 80px;  
    color: rgb(119, 110, 101);
}
.srcc-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.srcc-container img {    
    width: 35px;
    height: 35px;
}
.srcc-container img {
    transition: transform .3s ease-in-out;
}
.srcc-container img:hover {
    transform: scale(1.2);
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#canvas {
    width: 400px;
    height: 400px;
    font-family: "Noto Sans", sans-serif;    
}
.restart-container { 
    position: absolute;
    bottom: 93%;
    left: 80%;
}
.restart-container p {
    position: absolute;
    color: rgb(156, 138, 124);
    cursor: pointer;
}
#restart {
    font-family: "Arial";
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background: rgb(156, 138, 124);
    border-radius: 5px;
    border-color: transparent;
    padding: 5px 15px;

}

.score-container {
    border-radius: 3px;
    font-family: "Noto Sans", sans-serif;
    color: #FFF;    
    background: rgb(140, 112, 99);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (orientation: landscape) {
    body {
	overflow: visible;
    }
    .game-container {
	width: 100%;
	height: 90%;
    }
}

    
